*{
    margin: 0; padding: 0;
}
body{
    text-align: center;
    font: 85% Verdana, Arial;
    line-height: 1.4em;
    color: rgb(255, 255, 255);
    background: #888;
}
h1,h1,h3{
    padding: 10px;
}
/*estoy definiendo una clase*/
.pAmarillo {
    background-color: rgb(30, 212, 69);
}
#pMyID {
    background-color: deeppink;
}
body > p:nth-child(2) {
    background-color: red;}
p {
    background-color: rgb(238, 13, 200);

}
body { 
    background-color: aquamarine;
}
a {
    background-color: rgb(216, 216, 236);
}